
.side-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 250px;
    left: 0;
    right: 0;
    font-size: 50px;
    text-align: start;
    color: black;
}
.side-nav-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(142, 118, 85);
    cursor: pointer;
    color: black;
    width: 100px;
    margin: 0 50px 0 50px;
    text-align: center;
    border-radius: 20px;
    height: 60px;
    opacity: 0.5;
}
.side-nav-link:hover {
    opacity: 1;
    color: rgb(142, 118, 85);
    background-color: black;
}
.side-nav-link p {
    font-size: 10px;
    font-weight: bold;
}
a {
    text-decoration: none;
}
@media screen and (max-width: 900px) {
    .side-nav {
        display: flex;
        top: 570px;
    }
    .side-nav-link {
        margin: 0 5px 0 5px;
        font-size: 30px;
        width: 20px;
    }
}
@media screen and (min-width: 900px) {
    .side-nav {
        display: flex;
        top: 570px;
    }
    .side-nav-link {
        margin: 20px;
    }
}